---
layout: page
title: Design Projects
title-display: Selected Design Projects
shortName: design-projects
permalink: /design-projects/
weight: 3
nav: main
---

{% assign projects = site.portfolio_design | sort:"weight" | reverse %}
{% for project in projects %}
<div id="{{ project.shortName }}" class="col-lg-6 project-section">
    <div class="close-details"><i class="fa fa-close"></i></div>
    <div class="row">
        <div class="project">
            <h4 class="col-lg-12 col-md-6">{{ project.title }}</h4>
            <div class="col-lg-12 col-md-6">
                <img src="{{ site.url}}/assets/images/projects/{{ project.image1 }}" alt="{{ project.title }}" class="border"/>
            </div>
        </div>
        <div class="details summary col-lg-6">
            <h5>Services Rendered:</h5>
            <p>{{ project.description }}</p>
            {%if project.projecturl %}
            <a href="{{ project.projecturl }}" class="btn btn-info" target="_blank">Visit Page</a>
            {% endif %}
        </div>
    </div>
    <div class="row">
        {{ project.content }}
    </div>
</div>
{% endfor %}