---
layout: page_resume
title: Resume
permalink: /resume/
weight: 6
nav: main
---
{% assign sections = site.resume_sections | sort: "weight" %}
{% for section in sections %}
<section id="{{ section.title }}" class="{{ section.classes }}">
    {% if section.title == "resume" %}
        <div class="container">
            <div class="row title">
                <div class="col-sm-12">
                    <h2>Resume</h2>
                </div>
            </div>
        </div>

        <div class="container">
            {{ section.content }}
        </div>
    {% else %}
        <div class="container">
            <div class="row">
                {{ section.content }}
            </div>
        </div>
    {% endif %}
</section>
{% endfor %}