/* Basic Styles
=========================*/
body {
	background-color:#222;
	box-sizing:border-box;
  font-family: 'Droid Serif', serif;
  font-size:20px;
  line-height:1.5;
}
h1, h2, h3, h4 {
  font-family: 'Droid Sans', sans-serif;
}
h1 {
  color:#fff;
  text-align:center;
  width:1100px;
  background-color:#555;
  margin:0 auto 10px;
  padding:15px 0;
  text-transform:capitalize;
  font-size:1.5em;
}
h2 {
  color:#fff;
  width:100%;
  background-color:#0E4BF2;
  margin:0;
  padding:30px 30px 30px 60px;
  font-size:30px;
  text-shadow:#012997 1px 1px 10px;
}
h3 {
  margin:80px 10% 30px;
  width:80%;
}
.slide > p {
  width:80%;
  margin:15px 10%;
}
.slide > p.hero {
  margin-top:15%;
  font-size:26px;
}
.slide > p.hero.last {
  margin-top:8%;
}
.row {
  width:90%;
  padding:5px 5%;
  overflow:auto;
  margin-top:50px;
}
.col-5 {
  width:47%;
  float:left;
}
.col-5:last-of-type {
  margin-left:3%;
}
code, .code {
  background-color:#d9d9d9;
  border-radius:6px;
  padding:10px;
  font-weight:700px;
  width:80%;
  margin:10px 10%;
}
pre.space {
  margin-top:50px;
  margin-bottom:50px;
}
.space code {
  padding:30px;
}
a.btn {
  border-radius:5px;
  background-color:#0E4BF2;
  padding:15px 30px;
  margin:100px auto;
  color:#fff;
  font-weight:700;
  font-family:"Droid Sans", sans-serif;
  text-decoration:none;
  display: block;
  max-width: 30%;
  text-align: center;
}
a.btn:hover, a.btn:focus {
  background-color: #012997;
}
ul {
    width:80%;
    margin:10px 10%;
}
/* Carousel Specific
========================*/
.carouselContainer {
    min-width:800px;
    width: 100%;
    max-width:1100px;
    height:100%;
    background-color:#fefefe;
    position: relative;
    margin: 0 auto;
    box-shadow:3px 0px 20px 0px #111;
}
.carouselWindow {
  width: 100%;
  overflow: hidden; /*--Hides anything outside of the set width/height--*/
  position: relative;
}
.slideReel {
  position: absolute;
  top: 0;
  left: 0;
  height:100%;
}
.slideReel .slide {
  float: left;
  border: 0px solid white;
}
.slideReel .slide img {
  border: 0px solid white;
}
a.aNav {
	display:block;
	height:100px;
	width:30px;
	background-color:rgba(120,120,120,.6);
	position:absolute;
	top:35%;
  padding:40px 5px;
  opacity:0.2;
  /*box-shadow-left:inset 13px 0px 20px 0px #000;*/
}
a.aNav:hover, a.aNav:focus {
  opacity:1;
  box-shadow-left:inset 3px 0px 20px 0px #111;
}
#prev.aNav {
	left:-40px;
  border-radius:50% 0 0 50%;
}
#next.aNav{
	right:-40px;
  border-radius:0 50% 50% 0;
}
#next > i, #prev > i {
  font-size:0;
  margin:8px 5px;
  display:block;
}
#next > i {
  border-top:40px solid transparent;
  border-left:20px solid #eee;
  border-bottom:40px solid transparent;
}
#prev > i {
  border-top:40px solid transparent;
  border-right:20px solid #eee;
  border-bottom:40px solid transparent;
}
.slide {
	height:100%;
	background-color:#FFF4EC;
	float: left;
}
.pagingBar {
  height: 25px;
  z-index: 100; /*--Assures the paging stays on the top layer--*/
  background-color: #eee;
  padding:5px;
  border-top:10px solid darkblue;
}
.status {
  height:25px;
}
.dot {
	height:16px;
	width:16px;
	border-radius:50%;
	background-color:#0E4BF2;
	margin:5px;
	float:left;
  position:relative;
}
.dot:hover, .dot:focus {
	background-color:steelblue;
}
.dot.onPage {
	background-color:darkblue;
}
.dot.onPage:before {
  content:'';
  width:0;
  height:0;
  border-top:16px solid darkblue;
  border-right:16px solid transparent;
  border-left:16px solid transparent;
  position:absolute;
  top:-18px;
  left:-8px;
}