---
layout: page
title: Web Projects
title-display: Selected Web Projects
shortname: web-projects
permalink: /web-projects/
weight: 2
nav: main
---

{% assign projects = site.portfolio_web | sort:"weight" | reverse %}
{% for project in projects %}
    <div id="{{ project.shortName }}" class="col-lg-6 project-section">
        <div class="close-details"><i class="fa fa-close"></i></div>
        <div class="row">
            <div class="project">
                <h4 class="col-lg-12 col-md-6">{{ project.title }}</h4>
                <div class="col-lg-12 col-md-6">
                    {% if project.image1-border %}
                    <img src="{{ site.url}}/assets/images/projects/{{ project.image1 }}" alt="{{ project.title }}" class="border"/>
                    {% else %}
                    <img src="{{ site.url}}/assets/images/projects/{{ project.image1 }}" alt="{{ project.title }}"/>
                    {% endif %}
                </div>
            </div>
            <div class="details summary col-lg-6">
                <p>{{ project.description }}</p>
                {%if project.projecturl %}
                <a href="{{ project.projecturl }}" class="btn btn-info" target="_blank">Visit Page</a>
                {% endif %}
            </div>
        </div>
        <div class="row">
            {{ project.content }}
        </div>
    </div>
{% endfor %}
