---
layout: default
---
{% if page.shortname %}
    <article id="{{ page.shortname }}" class="post">
{% else %}
    <article class="post">
{% endif %}

      <header class="container title">
        <div class="row">
          <div class="col-sm-12">
              {% if page.title-display %}
                <h1 class="post-title">{{ page.title-display }}</h1>
              {% else %}
                <h1 class="post-title">{{ page.title-display }}</h1>
              {% endif %}
          </div>
        </div>
      </header>

      <div class="container">
          <div class="row">
              {{ content }}
          </div>
      </div>

    </article>
