---
layout: default
---

    <header class="jumbotron">
        <div id="top" class="container">
            <div class="row">
                <img id="hero-pic" src="{{ site.url }}/assets/images/me_color_lg.jpg" alt="Christy Presler" class="col-sm-4"/>
                <div class="col-sm-8">
                    <h1 class="hero-text">Christy is ready to work with you</h1>
                </div>
            </div>
        </div>
    </header>

    <div class="post-content">
        {{ content }}
    </div>


