---
layout: default
---
<article id="web-projects" class="col-lg-12 page" itemscope itemtype="http://schema.org/BlogPosting">
    <div class="container">
        <div id="{{ page.shortName }}" class="row project-section active">
            <h1 class="page-title">{{ page.title }}</h1>
            <div class="row">
                <div class="project col-md-6">
                    <div class="">
                        {% if page.image1-border %}
                        <img src="{{ site.url}}/assets/images/projects/{{ page.image1 }}" alt="{{ page.title }}" class="border"/>
                        {% else %}
                        <img src="{{ site.url}}/assets/images/projects/{{ page.image1 }}" alt="{{ page.title }}"/>
                        {% endif %}
                    </div>
                </div>
                <div class="details summary col-md-6">
                    <p>{{ page.description }}</p>
                    {%if page.projecturl %}
                    <a href="{{ page.projecturl }}" class="btn btn-info" target="_blank">Visit Page</a>
                    {% endif %}
                </div>
            </div>
            <div id="project-content">
                <div class="row">
                    {{ page.content }}
                </div>
            </div>
        </div>
    </div>
</article>
